label {
    display: block;
    direction: row;
}

.button-login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 80px;
    width: 60px;
    height: 30px;
    border-radius: 10px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    margin: 3px;
    margin-left: 10px;
    width: 110px;
}